.move-button {
    color: #000000;
    font-size: 20;
    width: 30px;
    height: 30px;
    text-align: center;
}
.promote-button {
    font-size: 15;
}

.white-bg {background-color: #FFFFFF;}
.black-bg {background-color: #707070;}
.white-red-bg {background-color: #FFD0D0;}
.black-red-bg {background-color: #A07878;}
