#board {
    padding: 0
}


.move-button {
    font-color: #000000;
    font-size: 20;
    width: 30px;
    max-width: 30px;
}
.promote-button {
    font-size: 15;
}

.white-bg {background-color: #FFFFFF;}
.black-bg {background-color: #707070;}
.white-red-bg {background-color: #FFD0D0;}
.black-red-bg {background-color: #A07878;}
