.move-button {
    color: #000000;
    font-size: 20px;
    width: 50px;
    height: 50px;
    text-align: center;
}
.promote-button {
    font-size: 15px;
}

.white-bg {background-color: #FFFFFF;}
.black-bg {background-color: #808080;}
.white-red-bg {background-color: #FFD0D0;}
.black-red-bg {background-color: #A07878;}
