{% extends "base.html" %}
{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='/js/empty.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='/js/play_as_friend.js') }}"></script>
{% endblock %}
{% block content %}
    <a href="/invite">Играть за белых с другом</a><br>
    <label for="invite_id">ID приглашения</label>
    <input type="text" id="invite_id"> <a href="javascript:play_as_friend()">Играть за чёрных с другом</a><br>
    <a href="/random-white">Играть за белых с незнакомцем</a><br>
    <a href="/random-black">Играть за чёрных с незнакомцем</a>
{% endblock %}
