{% extends "base.html" %}
{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='/empty.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='/play_as_friend') }}"></script>
{% endblock %}
{% block content %}
    <a href="/invite">Играть за белых с другом</a>
    <label for="invite_id">ID приглашения</label>
    <input type="text" id="invite_id"> <a href="javascript:play_as_friend">Играть за чёрных с другом</a>
{% endblock %}
