{% extends "base.html" %}
{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/empty.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/play_as_friend.js') }}"></script>
{% endblock %}
{% block content %}
    <a href="https://chessmatenok.ru/files/chess_rules_fide.pdf">Правила игры</a><br>
    <div class="start-options">
        <a href="/play-with-self">Играть вдвоём на одном копьютере</a><br>
        <a href="/play-with-friend">Играть по сети с другом</a><br>
        <a href="/random-player">Играть со случайным соперником</a><br>
    </div>
    <img src="{{ url_for('static', filename='jpg/chess.jpg') }}">
{% endblock %}
